@function cart-test($value) {
  @return $value;
}

$cart-test: (
  'two': (
    test: cart-test(1234),
    return: 1234
  ),
  'four': (
    test: cart-test(4),
    return: 4
  ),
  'six': (
    test: cart-test(6),
    return: 8
  ),
  'eight': (
    test: not cart-test(8),
    return: not 8
  )
);

@debug cart($cart-test);

// Expected output:
// Cart Sass Testing.
//
// | two   | 1234 == 1234   | pass |
// | four  | 4 == 4         | pass |
// | six   | 6 != 8         | fail |
// | eight | false == false | pass |
//
// 3 out of 4 tests passed.
